@import '../../Theme/theme.css';

.menuPageContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.menuTitle {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway-Bold';
  font-size: 26px;
  color: white;
  background: rgb(0, 4, 40);
  background: linear-gradient(
    90deg,
    rgba(0, 4, 40, 1) 0%,
    rgba(0, 78, 146, 1) 100%
  );
  padding: 20px;
  min-height: 80px;
}

.menuMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.menuMenuItem {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-color);
  border-left: 2px solid snow;
  border-right: 2px solid snow;
  height: 100%;
}

.questionnaireCard {
  display: flex;
  min-height: 300px;
  padding: 20px;
}

.menuMenuItem > img {
  width: 150px;
  margin: 10px;
}

.menuSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 20px;
  width: 100%;
  padding: 20px;
}
.menuDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway-Semibold';
  font-size: 16px;
  width: 100%;
  padding-bottom: 20px;
  min-height: 100px;
}

@media (max-width: 768px) {
  .menuMenu {
    flex-direction: column;
  }
  .menuMenuItem {
    height: auto;
    width: 100%;
    padding: 20px;
    border: none;
    border-top: 2px solid snow;
    border-left: 2px solid snow;
  }
  .menuMenuItem > img {
    width: 90px;
  }
}
