@import './theme.css';

.button {
  font-family: 'Raleway-Bold';
  background-color: var(--active-color);
  border: none;
  min-width: 100px;
  border-radius: 3px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px 2px;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

.button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 768px) {
  .landingContent > .landingSide {
    width: 100%;
  }
}
