.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  color: var(--secondary-color);
  padding: 20px;
}

.footerTitle {
  font-family: 'Raleway-Bold';
  font-size: 20px;
  padding-right: 20px;
}

.footerDescription {
  font-family: 'Raleway-Light';
  color: black;
  padding: 0px 10px;
}
